name: singularity-deploy-test

# run on creation of a release tag
on:
  pull_request: []

jobs:
  builder:
    name: Test Container Builds
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - uses: eWaterCycle/setup-singularity@v6
        with:
          singularity-version: 3.7.1
      - name: Build the singularity containers
        run: |
            repo=$(echo "${GITHUB_REPOSITORY/\//-}")

            # For each Singularity* container, build based on the prefix (tag) 
            for recipe in $(ls Singularity*); do
                echo "Building $recipe"
                tag=$(echo "${recipe/Singularity\./}")
                # If we find empty, use latest
                if [ "$tag" == "Singularity" ]; then
                    tag=latest
                fi
                # Build the container and name by tag
                echo "Tag is $tag."
                container="$repo:$tag.sif"
                singularity build --fakeroot container.sif "$recipe"
                if [ "$?" == "0" ]; then
                    echo "Successfully built container $container."                
                    mv container.sif "$container"
                else
                    echo "There was an issue building $container."          
                fi                
            done
      - name: Run Additional Tests
        run: |
          echo "Run any additional tests here."
  docker:
    name: Docker Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v3.x
      - name: Get Dockerfile image tag
        run: |
          owner=${{ env.GITHUB_REPOSITORY_OWNER_PART_SLUG }}
          repo=${{ env.GITHUB_REPOSITORY_NAME_PART_SLUG }}
          echo "owner is $owner"
          echo "repo is $repo."
          recipe=$(ls Dockerfile*)
          echo "Building $recipe"
          tag=$(echo "${recipe/Dockerfile\./}")
          # If we find empty, use latest
          if [ "$tag" == "Dockerfile" ]; then
              tag=latest
          fi
          # Build the container and name by tag
          echo "Tag is $tag."
          echo "owner=$owner" >> $GITHUB_ENV
          echo "reponame=$repo" >> $GITHUB_ENV
          echo "image_tag=$tag" >> $GITHUB_ENV
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1 
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ env.owner }}/${{ env.reponame }}:${{ env.image_tag }}

  pull:
      name: Singularity pull
      runs-on: ubuntu-latest
      needs: docker
      steps:
      - uses: eWaterCycle/setup-singularity@v6
        with:
          singularity-version: 3.7.1
      - name: Pull the singularity containers
        run: |
          singularity remote login --username ${{ github.repository_owner }} --password ${{ secrets.CR_PAT }} docker://ghcr.io
          singularity build --fakeroot \
            my_image.sif \
            docker://ghcr.io/${{ env.owner }}/${{ env.reponame }}:${{ env.image_tag }}
          singularity exec my_image.sif cat /etc/os-release